* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 300;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  text-align: center;
  max-width: 600px;
  width: 70%;
  padding: 20px;
}

.logo {
  margin-bottom: 100px;
}

.logo img {
  width: 120px;
  height: auto;
}

.center h1 {
  font-size: 1.8rem;
  margin: 10px 0;
  letter-spacing: 1px;
}

.bold .bold_a {
  font-weight: 900;
  color: #928862;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.center h1 a {
  font-weight: 700;
  text-decoration: none;
  color: #756c48;
  font-family: 'Comic Neue';
}

.center h1 a:hover {
  text-decoration: none;
  color: #767166;
  transform: scale(1.1);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.background picture,
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.buttons {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 1rem;              
    margin-top: 2rem; 
}

.button_insta {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button_insta:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #574f37;
  align-items: center;
}

.button_insta:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(85%);
  -webkit-transform: translateY(85%);
  -moz-transform: translateY(85%);
  -ms-transform: translateY(85%);
  -o-transform: translateY(85%);
}

.button_insta::before {
  position: absolute;
  top: -20px;
  content: "Instagram";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button_insta:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.button_tiktok {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button_tiktok:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #574f37;
  align-items: center;
}

.button_tiktok:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(85%);
}

.button_tiktok::before {
  position: absolute;
  top: -20px;
  content: "TikTok";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button_tiktok:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
